<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="employee" class="com.capg.demo.spring_xml_lab1.Employee">
        <property name="employeeId" value="111"/>
 	    <property name="employeeName" value="Eppakayala Ushasri"/>
 	    <property name="employeeSalary" value="40000"/>
 	    <property name="employeeBU" value="sales"/>
 	    <property name="employeeAge" value="20"/>
        </bean>
        
        
</beans>